body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 35px;
}

h1 {
    color: #100351;
}

h2 {
    color: #2747c8f6;
}

p, li {
    font-size: 20px;
}
